#mainContainerC {
    display: flex;
    height: 360px;
    width: 300px;
    border-radius: 25px;
    border: 1px solid grey;
    flex-direction: column;
    margin-right: 50px;
    margin-bottom: 70px;
    margin-top: -100px;
}

#TitleContC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto-Light';
    font-size: 32px;

}

#MainTitleC {
    font-family: 'Roboto-Light';
    font-size: 32px;
}

#SubTitleC {
    font-family: 'Roboto-Light';
    font-size: 20px;
}
#btnContainerC {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ViewC {
    text-decoration: none;
    outline: none;
    border: none;
    background: linear-gradient(145deg, #1475FC, #170557);
    width: 200px;
    height: 40px;
    color: white;
    border-radius: 25px;
    margin-top: 70px;
    font-family: 'Roboto-Regular';
    font-size: 20px;
}

#mainImageC {
    background-image: URL('../../assets/perry-grone-lbLgFFlADrY-unsplash.jpg');
    width: 300px;
    height: 150px;
    background-position: center center;
    background-size: cover;

}