#skillscontainer {
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: 720px;
    padding: 20px;
    margin-left: 200px;
    flex-wrap: wrap;
    margin-bottom: 500px;
    justify-content: center;
    margin-top: -100px;
}

.skills {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    margin: 40px;
    background: linear-gradient(145deg, rgb(94, 97, 105), #000000);
    flex-direction: column;
}

.number {
    font-family: 'Roboto-Thin';
    font-size: 52px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 25%;
}