#skillscontainer {
    display: flex;
    width: 900px;
    height: 85vh;
    padding: 10px;
    margin: 10px;
    background-color: red;
}

.skills {
    height: 100px;
    width: 100px;
    background-color: yellow;
}

.number {
    font-family: 'Roboto=Thin';
    font-size: 24px;
    color: white;
}