#section {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

#chosenSportContainer {
    display: flex;
    flex-direction: column;
    border: grey;
    border-color: grey;
    box-shadow: 9px, 9px, 20px, 3px;
    height: 75vh;
    justify-content: center;
    margin-left: 250px;
    border-radius: 35px;
    padding: 20px;
}

#welcome {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 500px;
    margin-left: 180px;
    font-family: 'Roboto-Bold';
    font-size: 60px;
    margin-bottom: 20px;
}

#welcome2 {
   font-family: 'Roboto-Light';
   font-weight: 100;
   margin-top: 0;
   font-size: 40px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   text-align: left;
   margin-left: 180px;
}

#sportimage {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    background-image: url('../../assets/jason-charters-IorqsMssQH0-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 15px;
    
}

#footballBtn {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    text-decoration: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    box-shadow: none;
}

#sportimageb {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    background-image: url('../../assets/guilherme-maggieri-OH5g9IgcMWs-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 15px;
}

#sportimagec {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    background-image: url('../../assets/serge-kutuzov-_FPy-FUndok-unsplash.jpg');
    background-size: cover;
    background-position: center center;
    margin-top: 15px;
}

#trafficLight {
    width: 50px;
    height: 100px;
    margin-left: 20px;
    margin-top: 30px;
}

.circle {
    background-color: green;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    margin: 10px;
}

.sportStats {
    display: flex;
    flex-direction: row;
}

.recorded {
    font-family: 'Roboto-Thin';
    font-weight: 100;
    font-size: 32px;
    margin-left: 120px;
}

.accepted {
    font-family: 'Roboto-Thin';
    font-size: 32px;
    font-weight: 100;
    margin-left: 60px;
}

.stats {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    margin-left: 140px;
    font-size: 44px;
}

.statsb {
    font-family: 'Roboto-Regular';
    font-weight: 400;
    margin-left: 100px;
    font-size: 44px;
}

.invisible-btn {
    height: 150px;
    width: 250px;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
}

.hiddentext {
    font-family: 'Roboto-Light';
    font-size: 24px;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px 1px grey;
    visibility: hidden;
    z-index: 50;

}

.invisible-btn:hover {
    background-color: rgba(255, 255, 255, 0.7);

}
.hover {
    display: inline-block;
}

.hiddentext:hover {
    visibility: visible;
}
